<section class="usuarios">
    <div class="d-flex justify-content-between py-5">
        <button (click)="goToPage(1)" class="btn btn-dark">PREV</button> 
        <button (click)="goToPage(2)" class="btn btn-dark">NEXT</button>
    </div>
    
    <div class="row gap-4">  
        @for(usuario of arrUsuariosPromises; track usuario._id) {
        <article class="col-12 col-md-6 col-lg-2">
            <app-usuario-card [miUsuario]="usuario"></app-usuario-card>
        </article>
        }
    </div>
</section>
 