.logotipo {
    max-width: 60px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.parrafo {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 5px;
}

.home {
    color: red;
    margin-right: 80px;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.newuser {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}