<div class="container">
    <div class="card">
        <figure>
            <img class="imagesUser" [src]="miUsuario.image" [alt]="miUsuario.first_name && miUsuario.last_name">
        </figure>
        <h5 class="h5">{{miUsuario.first_name}}  {{miUsuario.last_name}}</h5>
        <div class="icons-container">
            <div class="icon-item">
                <img class="icon" src="./images/detalle.png" alt="">
                <span [routerLink]="['/user', miUsuario._id]">Ver detalle</span>
            </div>
            <div class="icon-item">
                <img class="icon" src="./images/actualizar.png" alt="">
                <span [routerLink]="['/updateuser', miUsuario._id]">Actualizar</span>
            </div>
            <div class="icon-item">
                <img class="icon" src="./images/borrar.png" alt="">
                <span (click)="deleteUsuario(miUsuario._id)">Borrar</span>
            </div>
        </div>
    </div>
</div>
